.navbar-header {
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  background: #F8F8F8;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  box-sizing: border-box;
  position: relative;
}

.container-header {
  display: flex;
  width: 100%;
  padding: 13px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #FFF;
  z-index: 1;
}
.container-header .navbar-left-section {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.container-header .navbar-left-section .karo-logo {
  display: flex;
  align-items: center;
  gap: 9.778px;
}
.container-header .navbar-left-section .karo-logo .logo-title {
  color: #000;
  text-align: center;
  font-size: 29.333px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.611px;
  align-items: center;
  display: flex;
}
.container-header .navbar-left-section .navbar-item-search {
  display: inline-flex;
  gap: 10px;
  padding: 15px 14px;
  border-radius: 10px;
  background: var(--background-grey, #F8F8F8);
}
.container-header .navbar-left-section .navbar-item-search .search-text {
  color: var(--text-grey, #666);
  border: hidden;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
  display: flex;
  border-radius: 10px;
  background: #F8F8F8;
}
.container-header .navbar-right-section {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}
.container-header .navbar-right-section .nav-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.container-header .navbar-right-section .nav-list .list {
  display: flex;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  color: #222222;
  align-items: center;
  gap: 6px;
  /* 312.5% */
}
.container-header .navbar-right-section .nav-list .list:hover {
  color: #666;
  opacity: 0.8;
}
.container-header .navbar-right-section .login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}
.container-header .navbar-right-section .login-register .btn {
  padding: 10px 30px;
}

.account-nav-header {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
}
.account-nav-header .img-navbar-header {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.information-nav-header {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

.container-body {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: row;
  background: #F8F8F8;
  padding-top: 103px;
  width: 1240px;
  max-width: 100%;
}
.container-body .left-section {
  width: 250px;
  box-sizing: border-box;
  border-radius: 10px;
}
.container-body .left-section .account {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  gap: 15px;
  background: var(--color-red-primary, #B6020F);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}
.container-body .left-section .account .avar-account {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #FFF;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.container-body .left-section .account .information-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  margin: 0;
}
.container-body .left-section .account .information-name .name-account {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  margin: 0;
}
.container-body .left-section .account .information-name .information-account {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 14.08px */
  margin: 0;
}
.container-body .left-section .point-account {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: rgba(255, 226, 228, 0.4);
}
.container-body .left-section .point-account .title-point {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 18.85px */
}
.container-body .left-section .tools {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  border: 0.833px solid var(--border-light-grey, #EEE);
  border-radius: 0 0 10px 10px;
}
.container-body .left-section .tools .btn-tools {
  font-size: 14px;
}
.container-body .left-section .tools .btn-tools:hover {
  background: #EEE;
  opacity: 0.8;
}

.center-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.center-section .header-center-demand {
  display: flex;
  padding: 14px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.center-section .header-center-demand .title-header-demand {
  color: var(--text-black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 20.48px */
  display: flex;
}
.center-section .header-center-demand #popup-btn {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-red-primary, #B6020F);
  background: var(--color-red-primary, #B6020F);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 20.48px */
  gap: 25px;
}
.center-section .center-icon-spt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.center-section .center-icon-spt .icon-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.center-section .center-icon-spt .icon-left .icon-left-news {
  display: flex;
  padding: 7px 12px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 6px;
  border-radius: 39px;
  border: 1.5px solid #B6020F;
  background: #FFF;
}
.center-section .center-icon-spt .icon-left .icon-left-news .title-logo-news {
  color: var(--color-red-primary, #B6020F);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.center-section .center-icon-spt .icon-left .icon-left-hot {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 7px 12px;
  border-radius: 39px;
  background: #FFF;
  box-sizing: border-box;
}
.center-section .center-icon-spt .icon-left .icon-left-hot .title-logo-hot {
  color: var(--text-grey, #666);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.center-section .center-icon-spt .icon-right {
  display: flex;
  padding: 7px 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 39px;
  border: 1px solid var(--color-navy, #3D4C68);
  background: #FFF;
  box-sizing: border-box;
}
.center-section .center-icon-spt .icon-right .title-right-files {
  color: var(--text-black, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.right-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.right-section .suggest-connection-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 0.833px solid var(--border-light-grey, #EEE);
  border-radius: 10px;
  background-color: #FFF;
  padding: 16px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.right-section .suggest-connection-area .title-suggest {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
  text-transform: uppercase;
}
.right-section .suggest-connection-area .account-right-suggest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.right-section .suggest-connection-area .account-right-suggest .user-suggest {
  display: flex;
  align-items: center;
  gap: 14px;
  align-self: stretch;
}
.right-section .suggest-connection-area .account-right-suggest .user-suggest .avar-user-suggest {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-sizing: border-box;
}
.right-section .suggest-connection-area .account-right-suggest .user-suggest .information-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.right-section .suggest-connection-area .account-right-suggest .user-suggest .information-user .name-account-suggest {
  color: var(--text-black, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 16.64px */
  gap: 5px;
  display: flex;
  align-items: center;
}
.right-section .suggest-connection-area .account-right-suggest .user-suggest .information-user .information-suggest {
  color: var(--text-grey, #666);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  /* 14.08px */
}
.right-section .suggest-connection-area .btn-spt {
  font-size: 13px;
  /* 16.64px */
}
.right-section .suggest-connection-area .btn-spt:hover {
  opacity: 0.8;
}
.right-section .saves-news-area {
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  width: 100%;
}
.right-section .saves-news-area .title-saves-news {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
  text-transform: uppercase;
}
.right-section .saves-news-area .items-news-save {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 5px;
  background: var(--background-grey, #F8F8F8);
  box-sizing: border-box;
}
.right-section .saves-news-area .items-news-save .type {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 15.36px */
  text-transform: uppercase;
}
.right-section .saves-news-area .items-news-save .type .price {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 15.36px */
}
.right-section .saves-news-area .characteristic {
  align-self: stretch;
  color: var(--text-black, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  /* 20.15px */
  display: flex;
}

.post-center {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.8px solid #E4E4E4;
  background: #FFF;
  box-sizing: border-box;
}
.post-center .account-post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 16px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0.5px solid var(--border-light-grey, #EEE);
  background: #FFF;
  box-sizing: border-box;
}
.post-center .account-post .post-left {
  display: flex;
  align-items: center;
  gap: 11px;
}
.post-center .account-post .post-left .avar-post {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 0.5px solid var(--border-light-grey, #EEE);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.post-center .account-post .post-left .name-post-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.post-center .account-post .post-left .name-post-left .name-post {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.post-center .account-post .post-left .name-post-left .active {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  /* 15.36px */
}

.post-news-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}
.post-news-center .content-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.post-news-center .content-post .title-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.post-news-center .content-post .title-address .title-price {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  /* 18.85px */
  text-transform: uppercase;
  margin: 0;
}
.post-news-center .content-post .title-address .road {
  color: #222;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.post-news-center .content-post .title-address .location {
  align-self: stretch;
  color: #44ACF8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 20.3px */
}
.post-news-center .content-post .price-land {
  display: flex;
  align-items: center;
  gap: 8px;
}
.post-news-center .content-post .price-land .price-house {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
}
.post-news-center .content-post .price-land .acreage-house {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.price-title {
  color: var(--text-black, #222);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}

.picture-post {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.picture-post .picture-1 {
  width: 255px;
  height: 167px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #F2F2F2;
}

.demand {
  display: flex;
  padding: 7px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 20.3px */
  border-radius: 5px;
  background: var(--background-blue, rgba(68, 172, 248, 0.1));
  box-sizing: border-box;
}

.transaction-contenner {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
  border-top: 0.5px solid var(--border-light-grey, #EEE);
  box-sizing: border-box;
  width: 100%;
}
.transaction-contenner .transaction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.transaction-contenner .transaction .accept {
  color: var(--color-white, #FFF);
  border: 0.8px solid var(--color-red-primary, #B6020F);
  background: var(--color-red-primary, #B6020F);
  /* 20.3px */
}
.transaction-contenner .transaction .accept .title-accept {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 20.3px */
}
.transaction-contenner .transaction .care-about {
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.transaction-contenner .transaction .care-about .title-care {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.transaction-contenner .transaction .texting {
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.transaction-contenner .transaction .texting .title-texting {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.transaction-contenner .transaction .copy {
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.transaction-contenner .transaction .copy .title-copy {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.transaction-contenner .transaction .edit-news {
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.transaction-contenner .transaction .edit-news .title-edit-news {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.transaction-contenner .transaction .share {
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.transaction-contenner .transaction .share .title-share {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  color: var(--text-black, #222);
}

.dropdown-content a {
  color: var(--text-black, #222);
  padding: 10px 15px;
  font-family: Be Vietnam Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
  display: flex;
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.images-content {
  display: flex;
  width: 1440px;
  padding: 151px 390px;
  justify-content: center;
  align-items: center;
  background: url(<path-to-image>), lightgray -9.736px -10.442px/100.71% 194.984% no-repeat;
  box-sizing: border-box;
  background-image: url(images/18f66961620e9cfa3f18c6bd73dd9d39.png);
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: var(--border-light-grey, #EEE);
  box-sizing: border-box;
}

.lines {
  width: 100%;
  height: 1px;
  background: var(--background-grey, #F8F8F8);
  box-sizing: border-box;
}

.follow {
  color: var(--color-red-primary, #B6020F);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 16.64px */
  display: inline-flex;
}

.close-btn {
  position: absolute;
  color: #2E2E2E;
  font-size: 25px;
  font-weight: 700;
  right: 0;
  padding: 5px;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  display: flex;
}
.close-btn:hover {
  color: #D2D2D2;
}

.seperate-line {
  box-sizing: border-box;
  width: 1px;
  height: 30px;
  background: var(--border-light-grey, #EEE);
}

.btn {
  cursor: pointer;
  color: var(--text-black, #222);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sign-up-btn {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-navy, #3D4C68);
}

.btn-func {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  justify-content: center;
  gap: 9.125px;
  border-radius: 6px;
  background: var(--white, #fff);
  border: 0.8px solid #E0E3EA;
  cursor: pointer;
}

.btn-tools {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--background-grey, #F8F8F8);
  font-size: 14px;
}

.btn-spt {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--Background-Grey, #F8F8F8);
}

.btn-func {
  display: flex;
  padding: 10px 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  width: 100%;
  gap: 9.125px;
}

.btn-black {
  border-radius: 8px;
  border: 1px solid var(--Color-Navy, #3D4C68);
  background: var(--Text-Black, #222);
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
}

.font-plus-bevietnampro {
  font-family: Be Vietnam Pro;
}

.font-white {
  color: #fff;
}

.font-navy {
  color: var(--color-navy, #3D4C68);
}

.font-red {
  color: var(--color-red-primary, #B6020F);
}

.font-size-sm {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 16.64px */
}

.popup {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  box-sizing: border-box;
  overflow-y: hidden;
}

.popup-content {
  position: relative;
  padding: 30px 24px;
  margin: auto;
  width: 500px;
  box-sizing: border-box;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(186, 6, 19, 0.1) 0%, rgba(255, 255, 255, 0) 68.42%), #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
}

.popup-close {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  box-sizing: border-box;
}

.content-header-popup {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
}
.content-header-popup .icon-success {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 13.333px;
  border-radius: 66.667px;
  background: var(--status-success, #28C76F);
}
.content-header-popup .title-success {
  text-align: center;
  color: var(--text-black, #222);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
.content-header-popup .title-contact {
  color: var(--text-grey, #666);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.content-body-popup {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  border-radius: 10px;
  border-color: #222;
  width: 100%;
  border: 1px solid;
  box-sizing: border-box;
}
.content-body-popup .information-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.content-body-popup .information-popup .account-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.content-body-popup .information-popup .account-popup .name-popup {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: var(--color-black, #111);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
.content-body-popup .information-popup .account-popup .diposit {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  /* 17.4px */
  text-transform: uppercase;
}
.content-body-popup .information-popup .account-popup .profile-code {
  color: var(--text-black, #222);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 21.75px */
}
.content-body-popup .information-popup .address-popup {
  color: #44ACF8;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}
.content-body-popup .information-popup .home-infomation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.content-body-popup .information-popup .home-infomation .information {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.content-body-popup .information-popup .home-infomation .information .subset-information {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.content-body-popup .information-popup .home-infomation .information .subset-information .title-home {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.content-body-popup .information-popup .home-infomation .information .subset-information .title-home .data-information {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 20.3px */
}

.images-popup {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
}/*# sourceMappingURL=main.css.map */