.container-body {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: row;
    gap: 1.5%;
    background: #F8F8F8;
    padding-top: 103px;
    width: 1140px;
    max-width: 100%;

    .left-section {
        width: 250px;
        box-sizing: border-box;
        border-radius: 10px;

        .account {
            display: flex;
            padding: 14px 16px;
            align-items: center;
            gap: 15px;
            background: var(--color-red-primary, #B6020F);
            border-radius: 10px 10px 0 0;
            box-sizing: border-box;

            .avar-account {
                width: 60px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 100px;
                border: 1px solid #FFF;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }

            .information-name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                flex: 1 0 0;
                margin: 0;

                .name-account {
                    text-align: center;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 128%;
                    margin: 0;
                }

                .information-account {
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 128%;
                    /* 14.08px */
                    margin: 0;
                }
            }
        }

        .point-account {
            display: flex;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background: rgba(255, 226, 228, 0.40);

            .title-point {
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 145%;
                /* 18.85px */
            }
        }

        .tools {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            align-self: stretch;
            border: 0.833px solid var(--border-light-grey, #EEE);
            border-radius: 0 0 10px 10px;

            .btn-tools {
                font-size: 14px;

                &:hover {
                    background: #EEE;
                    opacity: 0.8;
                }

            }

        }
    }
}

.center-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .header-center-demand {
        display: flex;
        padding: 14px 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var(--border-light-grey, #EEE);
        background: #FFF;

        .title-header-demand {
            color: var(--text-black, #222);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 128%;
            /* 20.48px */
            display: flex;
        }

        #popup-btn {
            display: flex;
            padding: 10px 16px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 6px;
            border: 1px solid var(--color-red-primary, #B6020F);
            background: var(--color-red-primary, #B6020F);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 128%;
            /* 20.48px */
            gap: 25px;

        }
    }

    .right-section {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .suggest-connection-area {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            border: 0.833px solid var(--border-light-grey, #EEE);
            border-radius: 10px;
            background-color: #FFF;
            padding: 16px;
            justify-content: center;
            box-sizing: border-box;
            width: 100%;

            .title-suggest {
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 128%;
                /* 16.64px */
                text-transform: uppercase;
            }

            .account-right-suggest {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

}