.navbar-header {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: #F8F8F8;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    box-sizing: border-box;
    position: relative;
}


.container-header {
    display: flex;
    width: 100%;
    padding: 13px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 1;


    .navbar-left-section {
        display: inline-flex;
        align-items: center;
        gap: 30px;

        .karo-logo {
            display: flex;
            align-items: center;
            gap: 9.778px;

            .logo-title {
                color: #000;
                text-align: center;
                font-family: Be Vietnam Pro;
                font-size: 29.333px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.611px;
                display: flex;
                align-items: center;
                display: flex;
            }
        }

        .navbar-item-search {
            display: inline-flex;
            gap: 10px;
            padding: 15px 14px;
            border-radius: 10px;
            background: var(--background-grey, #F8F8F8);

            .search-text {
                color: var(--text-grey, #666);
                border: hidden;
                font-family: Be Vietnam Pro;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 145%;
                /* 23.2px */
                display: flex;
                border-radius: 10px;
                background: #F8F8F8;
            }
        }
    }

    .navbar-right-section {
        display: inline-flex;
        align-items: center;
        gap: 25px;

        .nav-list {
            display: flex;
            align-items: flex-start;
            gap: 30px;

            .list {

                text-align: center;
                font-family: Be Vietnam Pro;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 50px;
                color: #222222;

                /* 312.5% */
                &:hover {
                    color: #666;
                    opacity: 0.8;
                }
            }
        }

        .seperate-line {
            box-sizing: border-box;
            width: 1px;
            height: 30px;
            background: var(--border-light-grey, #EEE);
        }

        .login-register {
            display: flex;
            align-items: center;
            gap: 25px;


            .btn {
                padding: 10px 30px;
            }

        }
    }
}