@import 'navbar';
@import 'layout';
@import 'variables';
@import 'button';
@import 'font';
@import 'popup';























.popup-close {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
}

.content-header-popup {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.icon-success {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 13.333px;
    border-radius: 66.667px;
    background: var(--status-success, #28C76F);
}

.title-success {
    text-align: center;
    color: var(--text-black, #222);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.title-contact {
    color: var(--text-grey, #666);
    text-align: center;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.content-body-popup {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    border-radius: 10px;
    border-color: #222;
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
}

.information-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.account-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.name-popup {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    color: var(--color-black, #111);
    font-family: Be Vietnam Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 21.75px */
}

.diposit {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #3D4C68;
    font-family: Be Vietnam Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    /* 17.4px */
    text-transform: uppercase;
}

.profile-code {
    color: var(--text-black, #222);
    font-family: Be Vietnam Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 21.75px */
}

.address-popup {
    color: #44ACF8;
    font-family: Be Vietnam Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 21.75px */
}

.home-infomation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.information {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.subset-information {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.icon-home {
    width: 24px;
    height: 24px;
}

.title-home {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #666;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 20.3px */
}

.data-information {
    color: #3D4C68;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 20.3px */
}

.images-popup {
    display: flex;
    align-items: flex-start;
    gap: 9px;
    align-self: stretch;
}

.text {
    width: 31.79px;
    height: 38.188px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 26.1px */
    position: absolute;
    top: 10px
}