.sf-12 {
    color: #FFF;
    font-family: SVN-Apparat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sf-16 {
    color: #FFF;
    font-family: SVN-Apparat;
    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-weight-400, 400);
    line-height: normal;
    letter-spacing: -0.32px;
}


.sf-70 {
    text-align: center;
    font-family: SVN-Apparat;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 450;
    line-height: 115%;
    /* 80.5px */
    letter-spacing: -3.5px;
}

.sf-20 {
    color: #AFB3CA;
    text-align: center;
    font-family: SVN-Apparat;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.sf-48 {

    font-family: SVN-Apparat;
    font-size: 48px;
    font-style: normal;
    font-weight: 450;
    line-height: 115%;
    /* 55.2px */
    letter-spacing: -0.96px;
}

@media (max-width: 1023px)  {
    .sf-48 {
        font-size: 24px;
    }

    .sf-16 {
        color: #F8E9FE;
        text-align: center;
        font-family: SVN-Apparat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.28px;
    }
}

.sf-18 {
    color: #FFF;
    font-family: SVN-Apparat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.sf-15 {
    color: #AFB3CA;
    font-family: SVN-Apparat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sf-40 {
    color: #FFF;
    font-family: SVN-Apparat;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.48px;
    align-self: stretch;
}

.sf-24 {
    color: #FFF;
    font-family: SVN-Apparat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}