.benefit-section {
    max-width: 100%;
    width: 1216px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .title {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        text-align: center;
        font-family: var(--font-apparat);
        font-size: 48px;
        font-style: normal;
        font-weight: 450;
        line-height: 115%;
        letter-spacing: -0.96px;
        -webkit-text-fill-color: transparent;

        gap: 16px;
        background: linear-gradient(92deg, rgb(255, 233, 218) 38.15%, rgb(255, 119, 209) 91.81%) text;
    }

    .img-benefit {
        width: 100%;
        height: 480px;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        border-radius: 20px;
        background: linear-gradient(rgba(14, 10, 15, 0) 11.46%, rgb(14, 10, 15)) center center / cover, url(../../img/benefit.webp);
        background-position: center center;
        box-sizing: border-box;

        .vision {
            display: flex;
            flex-direction: column;
            padding-left: 38px;
            padding-bottom: 48px;
            padding-right: 40px;
            gap: 6px;
            box-sizing: border-box;

            .title-vision {
                color: rgb(252, 245, 254);
                font-family: var(--font-apparat);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.32px;
            }

            .subtitle {
                color: rgb(252, 245, 254);
                font-family: var(--font-apparat);
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.56px;
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .benefit-section .title {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .benefit-section .img-benefit {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .img-benefit .vision {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .benefit-section .img-benefit .vision {
        width: 100%;
        padding: 0px 14px 14px;
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .benefit-section .img-benefit .title-vision {
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .benefit-section .title {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .benefit-section .img-benefit .vision .subtitle {
        font-size: 16px;
        width: 100%;
    }
}