.tradermark-section {
    margin-top: 36px;
    display: flex;
    width: 1200px;
    max-width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
    box-sizing: border-box;

    .header-tradermark {
        width: 100%;

        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #2C2D47;
        background: linear-gradient(95deg, rgba(27, 28, 54, 0.16) 1.58%, rgba(112, 113, 122, 0.16) 88.87%);
        backdrop-filter: blur(5.849999904632568px);
        height: 275px;
        overflow: hidden;
        justify-content: flex-start;
        display: flex;

        box-sizing: border-box;

        .left {
            padding-left: 40px;
            margin-top: auto;
            margin-bottom: auto;
            width: 505px;
            display: flex;
            flex-direction: column;
            gap: 17px;
            box-sizing: border-box;

            .title {
                color: #FFF;
                font-family: SVN-Apparat;
                font-size: 24px;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                letter-spacing: -0.48px;
            }

            .subtile {

                color: #AFB3CA;
                font-feature-settings: 'dlig' on;
                font-family: SVN-Apparat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
            }
        }

        .brand {
            position: relative;


        }

        .brand-decoration {

            width: 815px;
            height: 573px;
            box-sizing: border-box;
            z-index: 1;
        }

        .brand-circle {
            position: absolute;
            border-radius: 50%;
        }

        .outer {
            width: 574px;
            height: 573px;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
            background: #ff38bb29;

            @media (max-width:1232px) {
                left: 50%;
            }
        }

        .midle {
            width: 401px;
            height: 400px;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
            background: #ff38bb29;

            @media (max-width:1232px) {
                left: 50%;
            }
        }

        .brand-icon {
            position: absolute;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
            width: 249px;
            height: 239px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ff38bb99;
            border-radius: 50%;
            z-index: 3;

            @media (max-width:1232px) {
                left: 50%;
            }
        }

    }



    .foot-tradermark {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5.85px);
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(44, 45, 71);
        border-image: initial;
        background: linear-gradient(95deg, rgba(27, 28, 54, 0.16) 1.58%, rgba(112, 113, 122, 0.16) 88.87%);
        padding: 0px;
        box-sizing: border-box;

        .section-footer {

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            gap: 24px;
            box-sizing: border-box;

            .left {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 17px;
                margin-top: auto;
                margin-bottom: auto;

                .title {
                    color: #FFF;
                    font-family: SVN-Apparat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 450;
                    line-height: normal;
                    letter-spacing: -0.48px;
                }

                .subtile {

                    color: #AFB3CA;
                    font-feature-settings: 'dlig' on;
                    font-family: SVN-Apparat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }
            }

            .right {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                max-width: 484px;
                box-sizing: border-box;

                .img-footer {
                    width: 100%;
                    display: flex;
                    height: auto;

                }
            }
        }
    }
}

.body-tradermark {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;



    .body-left-tradermark {
        display: flex;
        width: calc(50% - 12px);
        padding: 36px 28px;
        flex-direction: column;
        align-items: flex-start;
        gap: 23px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #2C2D47;
        background: linear-gradient(137deg, rgba(27, 28, 54, 0.16) 23.98%, rgba(112, 113, 122, 0.16) 65.73%);
        backdrop-filter: blur(5.849999904632568px);
        box-sizing: border-box;

        .title-tradermark-body-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            .topic-left-tradermark-body {
                color: #FFF;
                font-family: SVN-Apparat;
                font-size: 24px;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                letter-spacing: -0.48px;
                align-self: stretch;
            }

            .note-left-tradermark-body {
                color: #AFB3CA;
                font-feature-settings: 'dlig' on;
                font-family: SVN-Apparat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                align-self: stretch;
            }

            .title {
                color: #FFF;
                font-family: SVN-Apparat;
                font-size: 24px;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                letter-spacing: -0.48px;


            }
        }

        .img-left-tradermark-body {
            display: flex;
            justify-content: flex-end;

            .img-left-body {
                width: 434px;
                height: auto;
                max-width: 100%;
            }
        }
    }

    .body-right-tradermark {
        display: flex;
        width: calc(50% - 12px);
        padding: 36px 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #2C2D47;
        background: linear-gradient(137deg, rgba(27, 28, 54, 0.16) 23.98%, rgba(112, 113, 122, 0.16) 65.73%);
        backdrop-filter: blur(5.849999904632568px);
        box-sizing: border-box;

        .title-tradermark-body-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            .note-right-tradermark-body {
                color: #AFB3CA;
                font-feature-settings: 'dlig' on;
                font-family: SVN-Apparat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */

            }

            .title {
                color: #FFF;
                font-family: SVN-Apparat;
                font-size: 24px;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                letter-spacing: -0.48px;

                @media (max-width: 425px) {
                    font-size: 14px;
                }
            }


        }

        .img-right-tradermark-body {
            display: flex;
            justify-content: flex-end;

            .img-right-body {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}


@media (max-width: 767px) {
    .container-tradermark .tradermark-section {
        width: 100%;
        gap: 24px;
    }
}

/* Tablet & Mobile: max-width 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    .header-tradermark,
    .tradermark-section .body-tradermark,
    .foot-tradermark,
    .body-left-tradermark,
    .body-right-tradermark,
    .section-footer {
        display: flex;

        align-items: center;
        gap: 24px;
    }

    /* Cho hình và text full width */

}


/* Mobile nhỏ: max-width 767px */
@media (max-width: 767px) {
    .tradermark-section .header-tradermark {
        width: 100%;
        height: 415px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .foot-tradermark .section-footer .left .title {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .header-tradermark .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .brand-decoration {
        width: 361.62px;
        height: 360.99px;
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .outer {
        width: 361.62px;
        height: 360.99px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .midle {
        width: 252.63px;
        height: 252px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .brand-icon {
        width: 156.87px;
        height: 150.57px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark .left {
        width: 702px;
        display: flex;
        flex-shrink: 0;
        padding: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark {
        width: 100%;
        height: 415px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-tradermark .brand {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark .brand-decoration {
        width: 361.62px;
        height: 330px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark .outer {
        width: 361.62px;
        height: 360.99px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark .midle {
        width: 252.63px;
        height: 252px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .header-tradermark .brand-icon {
        width: 156.87px;
        height: 150.57px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .tradermark-section .body-tradermark .body-left-tradermark,
    .tradermark-section .body-tradermark .body-right-tradermark {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tradermark-section {
        width: 100%;
        gap: 24px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .left {
        width: 100%;
        padding-left: 24px;
        padding-top: 18px;
        padding-right: 6px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .header-tradermark .left .title {
        font-size: 18px;
    }
}



@media (max-width: 767px) {
    .tradermark-section .body-tradermark {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}

@media (max-width: 767px) {

    .tradermark-section .body-tradermark .body-left-tradermark,
    .tradermark-section .body-tradermark .body-right-tradermark {
        width: 100%;
        margin-right: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        height: auto;
        padding: 24px;
        gap: 23px;
    }
}

@media (max-width: 767px) {
    .tradermark-section .section-footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 23px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tradermark-section .body-tradermark {
        flex-direction: column;
        gap: 24px;
    }
}

@media (max-width: 426px) {

    .body-tradermark .body-left-tradermark .title-tradermark-body-left .title,
    .body-tradermark .body-right-tradermark .title-tradermark-body-right .title,
    .tradermark-section .foot-tradermark .section-footer .left .title {
        font-size: 18px;
    }
}

@media (max-width:767px) {

    .body-tradermark .body-left-tradermark .title-tradermark-body-left .note-left-tradermark-body,
    .body-tradermark .body-right-tradermark .title-tradermark-body-right .note-right-tradermark-body,
    .tradermark-section .foot-tradermark .section-footer .left .subtile,
    .tradermark-section .header-tradermark .left .subtile {
        font-size: 14px;
    }
}