.container-footer {
    display: flex;
    padding: 0 16px;
    width: 100%;
    height: 303px;
    padding: 60px 64px 0 64px;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    flex-shrink: 0;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(68, 49, 73, 0.20) 0%, rgba(14, 10, 15, 0.00) 100%);
    box-sizing: border-box;
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.right-footer {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.navbar-right-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.section-footer {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.bottom-footer {
    width: 100%;
    height: 100%;
    padding: 0 16px 78px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer-headline {
    width: 100%;
    aspect-ratio: 1249 / 305;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.end {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.company {
    color: #888;
    font-family: var(--font-display);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
    margin-left: 0;
}

.policy {
    display: flex;
    align-items: center;
    gap: 36px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .arrow {
        width: 12px;
        height: 12px;
        aspect-ratio: 1 / 1;
    }
}

.text {
    color: #888;
}