.container-body-tilte {

    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    padding: 11.39vw 15.28vw 4.17vw;
    gap: 1.39vw;
    background: url("/img/Hero Elements.png") center center / 100vw 41.74vw no-repeat;
    margin-top: 50px;

    .content-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.2vw;
        align-self: stretch;
        padding-top: 50px;

        .newsroom {
            display: flex;
            height: 2.22vw;
            align-items: center;
            cursor: pointer;
            padding: 0.28vw 0.42vw;
            gap: 0.56vw;
            border-radius: 8.47vw;
            background: rgba(255, 255, 255, 0.1);

            .news {
                display: flex;
                height: 1.67vw;
                justify-content: center;
                align-items: center;
                box-shadow: rgb(241, 210, 252) 0px 0px 0.21vw inset;
                padding: 0.14vw 0.83vw;
                gap: 0.69vw;
                border-radius: 6.94vw;
                background: rgb(175, 46, 203);

                .text {
                    color: rgb(255, 255, 255);
                    font-family: var(--font-apparat);
                    font-size: 0.83vw;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .name {
                color: rgb(255, 255, 255);
                font-family: var(--font-apparat);
                font-size: 0.9vw;
                font-weight: 400;
                text-align: center;
            }

            .arrow {
                width: 0.97vw;
                aspect-ratio: 1 / 1;
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }

        .title {
            align-self: stretch;
            text-align: center;
            font-family: var(--font-apparat);
            font-size: 4.86vw;
            font-weight: 450;
            line-height: 115%;
            letter-spacing: -0.24vw;
            -webkit-text-fill-color: transparent;
            height: 11.11vw;
            background: linear-gradient(92deg, rgb(255, 233, 218) 38.15%, rgb(255, 119, 209) 91.81%) text;
        }

        .subtitle {
            color: rgb(175, 179, 202);
            text-align: center;
            font-family: var(--font-apparat);
            font-size: 1.39vw;
            font-weight: 400;
            letter-spacing: -0.03vw;
            width: 69.44vw;
        }

        .button {
            width: auto;
            display: flex;
            height: 3.19vw;
            justify-content: center;
            align-items: center;
            box-shadow: rgb(241, 210, 252) 0px 0px 0.63vw 0.07vw inset;
            cursor: pointer;
            padding: 0px 2.78vw;
            gap: 0.56vw;
            border-radius: 0.42vw;
            background: rgb(255, 137, 210);

            .text {
                color: #0e0a0f;
                font-family: var(--font-apparat);
                font-size: 1.11vw;
                font-weight: 500;
                line-height: normal;
            }

            .arrow {
                width: 1.11vw;
                height: 1.11vw;
                aspect-ratio: 1 / 1;
            }
        }
    }
}