.hero-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #010102;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;

    .hero-mobile-container {
        margin-top: 100px;
        min-height: 515px;
        margin-left: 0;
        width: 100%;
        background-image: url(../../img/top.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 375px auto;
        padding-bottom: 0;
        height: auto;

        .content {
            height: auto;

            .hero-content {
                width: calc(100% - 32px);
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                margin: 0 auto;

                .newsroom {
                    margin-top: 70px;
                    display: flex;
                    padding: 4px 6px;
                    align-items: center;
                    gap: 8px;
                    border-radius: 122px;

                    background: rgba(255, 255, 255, 0.10);

                    .new {
                        display: flex;
                        padding: 2px 12px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 200px;
                        background: #af2ecb;
                        box-shadow: 0 0 3px #f1d2fc inset;
                        color: #fff;
                        font-family: SVN-Apparat;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .text {
                        color: #FFF;
                        font-family: SVN-Apparat;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .arrow {
                        width: 14px;
                        height: 14px;
                        aspect-ratio: 1/1;
                    }
                }

                .title {
                    text-align: center;
                    font-family: SVN-Apparat;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 450;
                    line-height: 115%;
                    /* 36.8px */
                    letter-spacing: -1.6px;
                    background: linear-gradient(92deg, #FFE9DA 38.15%, #FF77D1 91.81%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .subtitle {
                    color: #AFB3CA;
                    text-align: center;
                    font-family: SVN-Apparat;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.26px;
                }


            }

            .hero-img {
                width: 100%;
                height: 106.24px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: start;

                img {
                    width: 375px;
                    height: auto;
                    object-fit: cover;
                    transform: translateY(-110px);
                }
            }

        }

        .hero-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin: 31.77px auto 0;
            padding: 0 20px;
            border-radius: 8px;
            background: #ff89d2;
            cursor: pointer;
            transition: all .3s ease;
            width: 126px;
            height: 46px;

            .text {
                color: #0E0A0F;
                font-family: SVN-Apparat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .arrow {
                width: 16px;
                height: 16px;
                aspect-ratio: 1/1;
            }
        }
    }
}