.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 1220px;
    margin-top: 30px;

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 24px;
        display: flex;
        align-items: center;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        flex-direction: column;
        gap: 24px;
        display: flex;
        align-items: center;

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        width: 100%;

        @media (max-width: 767px) {
            align-items: center;
            padding: 0;

        }

        @media (min-width: 768px) and (max-width: 1024px) {
            align-items: center;
            padding: 0;

        }

        .faq-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            /*   justify-content: center; */
            align-items: center;
            margin-top: 24px;

        }

        .faq-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            gap: 24px;
            box-sizing: border-box;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .faq-item {
            overflow: hidden;
            display: flex;
            padding: 24px;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid rgba(78, 54, 86, 0.80);
            width: 100%;
            box-sizing: border-box;
        }

        .faq-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 0;
            gap: 24px;

            .faq-question {
                color: #FFF;
                font-family: var(--font-apparat);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.4px;
            }

            .icon {
                margin-left: auto;

                svg {
                    margin-top: 8px;
                }
            }
        }

        .margin-16 {
            margin-top: 16px;
        }

        .faq-answer {
            height: 0;
            transition: 300ms;
            color: white;
            width: 100%;

            @media (max-width: 767px) {
                width: 100%;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                width: 100%;
            }

        }

        .faq-answer-text {
            color: #FFF;
            font-family: var(--font-display);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            /* 20.3px */
            letter-spacing: -0.28px;
            white-space: pre-line;

        }

        .title {
            color: #FFF;
            text-align: left;
            font-family: var(--font-apparat);
            font-size: 48px;
            font-style: normal;
            font-weight: 450;
            line-height: 115%;
            /* 55.2px */
            letter-spacing: -0.96px;
            width: 300px;

            @media (max-width: 767px) {
                align-items: left;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                align-items: left;

            }

            .faq-question {
                color: white;
            }

        }

        .subtitle {
            width: 26.7vw;
            max-width: 552px;
            color: #F8E9FE;
            font-family: var(--font-apparat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.32px;

            @media (max-width: 767px) {
                align-items: right;
                width: 83.3vw;
                display: flex;
                justify-content: center;
                text-align: center;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                align-items: center;
                width: 83.3vw;

            }
        }

        .button {
            display: flex;
            height: 46px;
            padding: 0 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 6px;
            background: #AF2ECB;
            box-shadow: 0 0 9px 1px #DC7FF3 inset;

            .text {
                color: #FFF;
                font-family: var(--font-apparat);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .arrow {
                width: 16px;
                height: 16px;
                aspect-ratio: 1/1;

            }
        }

        .dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 36px;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid rgba(78, 54, 86, 0.8);
            transition: all 0.3s ease;
            padding-right: 24px;

            .info {
                padding: 24px;
                padding-right: 0;
                display: flex;
                flex-direction: column;

                @media (max-width: 767px) {
                    width: 83.3vw;
                }

                @media (min-width: 768px) and (max-width: 1023px) {}

                .title {
                    color: #fff;
                    font-family: var(--font-apparat);
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: -0.4px;
                    text-align: left;
                    width: max-content;

                    @media (max-width: 767px) {
                        width: 50vw;
                        font-size: 18px;

                    }

                    @media (min-width: 768px) and (max-width: 1023px) {}
                }

                .subtitle {
                    display: none;
                    color: #fff;
                    font-family: var(--font-display);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 145%;
                    letter-spacing: -0.28px;
                    align-self: stretch;
                    margin-top: 16px;
                    width: 480px;
                    transition: all 0.3s ease;

                    @media (max-width: 767px) {
                        width: 50vw;
                        text-align: left;
                    }

                    @media (min-width: 768px) and (max-width: 1023px) {}
                }
            }

            .icon {
                width: 36px;
                height: 36px;
                aspect-ratio: 1/1;
                transition: transform 0.3s ease;
                cursor: pointer;
            }

            // Khi có class .open cùng .dropdown
            &.open {
                border-radius: 12px;
                border: 1px solid rgba(78, 54, 86, 0.80);
                background: linear-gradient(150deg, #0E0A0F 17.18%, #443149 227.36%);

                .title {}

                .info {
                    .subtitle {
                        display: flex;
                    }
                }
            }
        }

    }
}