.navbar-unlock {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-bottom: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    aspect-ratio: 1440 / 560;
    margin: 0 auto;
    max-width: 1220px;
    padding-left: 16px;
    padding-right: 16px;
}

.section-unlock {
    display: flex;
    padding: 3.7vw 4.4vw 2.6vw;
    align-items: center;
    gap: 36px;
    flex: 1 0 0;
    border-radius: 24px;
    background: url('../img/Ellipse 3.png') no-repeat left 741px top 327px, linear-gradient(145deg, #130F14 20.69%, #443149 185.46%);
}

.left-unock {
    display: flex;
    width: 678px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.right-unlock {
    position: relative;
    overflow: visible;
    width: 400px;
    height: 400px;
    background: url('../img/Group 4.png');
}

.title-unlock {
    background: linear-gradient(180deg, #FFE9DA 27.42%, #FF77D1 123.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.subtile-unlock {
    width: 466px;
}

.button-unlock {
    display: flex;
    height: 46px;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #ff89d2;
    box-shadow: 0 0 9px 1px #f1d2fc inset;
    cursor: pointer;

    .arrow {
        width: 16px;
        height: 16px;
        aspect-ratio: 1 / 1;
    }
}

.text-unlock {
    color: #0E0A0F;
}

@media (max-width: 1023px) {
    .navbar-unlock {
        display: none;
    }
}

@media (max-width:1024px) {

    .navbar-unlock,
    .navbar-unlock .section-unlock {
        width: 100%;
    }
}

@media (max-width:1024px) {
    .navbar-unlock .section-unlock .left-unock {
        width: 100%;
        max-width: 678px;
    }
}

@media (max-width:1024px) {
    .navbar-unlock .section-unlock .right-unlock {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width:1220px) {
    .navbar-unlock {
        display: none;
    }
}