@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('./InterDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SVN-Apparat';
    src: url('./SVN-Apparat-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Apparat';
    src: url('./SVN-Apparat-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Apparat';
    src: url('./SVN-Apparat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Apparat';
    src: url('./SVN-Apparat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Apparat';
    src: url('./SVN-Apparat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}