/* Reset CSS cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --font-primary: 'Poppins', sans-serif;
  --color-bg: #ffffff;
  --color-text: #222222;
  --color-accent: #0078ff;

  --max-width: 1200px;
  --transition: all 0.3s ease;
}

.App {
  background-color: black;


}

.main {
  background-color: black;

}

/* Base styles */
html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
  overflow-x: hidden;

}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Containers */
.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}